.expense-date {
    display: flex;
    flex-direction: column; /*  allowing them to stack vertically instead of horizontally.
    It enables the creation of multi-column layouts where items flow vertically, o
    ne below the other, within a container.*/
    width: 5.5rem;
    height: 5.5rem;/*m" in CSS stands for "root em" and represents a unit of
    measurement relative to the font size of the root element, allowing for scalable and
    consistent proportions in a document's design. */
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.expense-date__month {
    font-size: 0.75rem;
    font-weight: bold;
}

.expense-date__year {
    font-size: 0.75rem;
}

.expense-date__day {
    font-size: 1.5rem;
    font-weight: bold;
}